.cart_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: -40px;
    bottom: 0;
    flex-wrap: wrap;
    max-height: 80vh;  
}

.cart_subcontainer{
    position: absolute;
    left: 10%;
}

.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 600px;
 }


.cart_img{
    width: 100px;
    height: 120px;
}

.btns_div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 120px;
    height: 40px;
}

.btns_div p{
    width: 40px;
    text-align: center;
}

.cart_count_btn {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #333;
    padding: 7px;
    font-size: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
  }
  
  .cart_count_btn:hover {
    border: 2px solid rgba(59, 130, 246, 0.5);
  }
  
  .cart_total{
      max-height: 100vh;
      position: fixed;
      bottom: 0;
      right: 10%;
      background-color: #161616;
      padding: 30px 50px 5px 50px;
      min-width: 400px;
  }

 
  .total_orderprice_sec{
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 10px 0;
  }

  .totalcart_text{
      display: flex;
      justify-content: space-between !important;
      align-items: center;
   }

   
   .checkout_btn{
       margin: auto;
   }

   .discount_sec{
       display: flex;
      justify-content: space-between;
       align-items: center;
      border-top: 1px solid white;
      padding-top: 40px;
      width: 600px;
   }

   .discount_btn{
    background: #0072f5; 
    color: #fff;
    padding: 11px 25px;
    text-transform: uppercase;
    font-size: 14px;
   }

   .discount_input{
    background-color: #161616;
    border: 0;
    padding: 10px;
    color: white;
    margin-left: 15px;
    padding-right: 50px;
}